.App {
  text-align: center;
}

.quiz {
  margin: 2%;
  padding: 2%;
  width: 90%;
  height: 20%;
  position: relative;
}

.question {
  font-size: 2rem;
  text-align: center;
}

.player-image {
  text-align: center;
}